// Variables
$bg-positive: #A7D46F !default;
$bg-negative: #FC3A52 !default;
$txt-positive: #FFF !default;
$txt-negative: #FFF !default;

$dark-bg-background: rgba(#000, 0.9) !default;
$dark-txt-copy: #FFF !default;
$dark-bg-positive: $bg-positive !default;
$dark-bg-negative: $bg-negative !default;
$dark-txt-positive: $txt-positive !default;
$dark-txt-negative: $txt-negative !default;

$light-bg-background: rgba(#FFF, 0.9) !default;
$light-txt-copy: #333 !default;
$light-bg-positive: $bg-positive !default;
$light-bg-negative: $bg-negative !default;
$light-txt-positive: $txt-positive !default;
$light-txt-negative: $txt-negative !default;

// Styles
.root-consent {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.2s linear;
    opacity: 0;
    z-index: 100;

    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.root-consent__message,
.root-consent__actions {
    display: block;
    padding: 15px 20px;
}


.root-consent__message-title,
.root-consent__message-text {
    display: block;
    margin: 0;
    padding: 0;
}

.root-consent__message-title {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.root-consent__message-text {
    line-height: 1.2rem;
    font-size: 0.8rem;
}

.root-consent__actions {
    white-space: nowrap;
}

.root-consent__btn {
    display: inline-block;
    border: 0;
    border-radius: 3px;

    cursor: pointer;

    padding: 8px 12px;
    font-size: 0.8rem;

}

.root-consent__btn + .root-consent__btn {
    margin-left: 10px;
}

.root-consent--active {
    opacity: 1;
}

// Position
.root-consent--top {
    top: 0;
    width: 100%;
}

.root-consent--bottom {
    bottom: 0;
    width: 100%;
}

.root-consent--top-right,
.root-consent--top-left,
.root-consent--bottom-right,
.root-consent--bottom-left {
    border-radius: 3px;

    .root-consent__message {
        width: auto;
    }
}

.root-consent--top-right {
    top: 20px;
    right: 20px;
}

.root-consent--top-left {
    top: 20px;
    left: 20px;
}

.root-consent--bottom-right {
    right: 20px;
    bottom: 20px;
}

.root-consent--bottom-left {
    bottom: 20px;
    left: 20px;
}

// Theme
.root-consent--dark {
    background-color: $dark-bg-background;
    color: $dark-txt-copy;

    .root-consent__btn--approve {
        background: $dark-bg-positive;
        color: $dark-txt-positive;
    }

    .root-consent__btn--deny {
        background: $dark-bg-negative;
        color: $dark-txt-negative;
    }


    .root-consent__message-title,
    .root-consent__message-text {
        color: $dark-txt-copy;
    }
}

.root-consent--light {
    background-color: $light-bg-background;
    color: $light-txt-copy;

    .root-consent__btn--approve {
        background: $light-bg-positive;
        color: $light-txt-positive;
    }

    .root-consent__btn--deny {
        background: $light-bg-negative;
        color: $light-txt-negative;
    }
}

@media (max-width: 680px) {

    .root-consent {
        flex-wrap: wrap;
    }

    .root-consent__message {
        width: 100%;
    }
}
